@import "base/reset.scss";
@import "base/common.scss";
@import "utils/variables.scss";
@import "utils/mixin.scss";
@import "components/hero-section.scss";
@import "components/lang-section.scss";
@import "components/quote-section.scss";
@import "components/trailer-section.scss";
@import "components/video-section.scss";
@import "components/form.scss";
@import "components/info-modal.scss";
@import "base/common.scss";
@import "base/footer.scss";