.info-modal{
    padding: 51px 112px 172px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/info-fon.png");
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: $modal-shadow;
    &__title{
        @include text-style(400, 24px, 1.25, 'Inter', center);
        color: $info-color;
    }
    &__text{
        margin-top: 80px;
        @include text-style(400, 24px, 1.25, 'Inter', center);
        color: $info-color;
    }
    &__close{
        position: absolute;
        @include flex;
        top: 8px;
        right: 8px;
        background-color: transparent;
        @include size-of-box(30px, 30px);
        @include flex(center);
        align-items: center;
        fill: $info-color;
        border-radius: 50%;
        border: 0;
        transition: all cubic-bezier(.11,.2,.55,1.27) 0.2s;
        &:hover{
            background-color: transparent;
            transform: scale(1.1) rotate(360deg);
        }
    }
}
.overlay-info{
    position: fixed;
    top: 0;
    left: 0;
    @include size-of-box(100%, 100%);
    background: $overlay-background;
    z-index: 2;
    transition: all cubic-bezier(.11,.2,.55,1.27) 0.4s;
}
.overlay-info.is-hiddenInfo{
    opacity: 0;
    pointer-events: none;
    transition: all cubic-bezier(.11,.2,.55,1.27) 0.4s;
}