.lang-section{
    padding: 32px 0 43px;
    background: url('../img/lang-fon.webp');
    background-size: cover;
    &__list{
        @include flex(space-between, wrap);
        @include size-of-box(1033px, auto);
    }
    &__item{
        background: $lang-item-bgc;
        @include size-of-box(320px, 240px);
        padding: 36px 0;
    }
    &__item:nth-child(n+4){
        margin-top: 24px;
    }
    &__title{
        @include text-style(400, 32px, 1.25, 'Headland One', center);
        color: $lang-color;
    }
    &__text{
        @include text-style(400, 24px, 1, 'Headland One', center);
        color: $lang-color;
    }
    &__img{
        display: block;
        margin: 40px auto 0;
    }
    &__explanation{
        @include text-style(400, 24px, 1, 'Headland One', center);
        color: $lang-explanation-color;
        margin-top: 40px;
    }
}