$hero-section-gradient: #36526A 5.74%, rgba(55, 107, 151, 0) 93.38%;
$text-color: #FFF;
$but-background-color: #0B0E66;
$but-brd-and-color: #26C7EA;
$quote-title-color: #0A3853;
$quote-text-color: #000;
$lang-item-bgc: rgba(255, 255, 255, 0.7);
$lang-color: #141414;
$lang-explanation-color: #000;
$form-background-color: #FFF;
$form-color: #000;
$overlay-background: rgba(0, 0, 0, 0.3);
$close-hover: #8a8988;
$modal-shadow: 10px -10px 8px 0px rgba(89,89,89,1);
$hero-color: #FFF;
$hero-active: #26C7EA;
$main-modal-color: #0B0E66;
$form-input: #F2EAEA;
$svg-color: #09354E;
$info-color: #FFF;